<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<body>

<div class="container">
  <%= yield %>
</div>
</body>
<div class="center jumbotron">
  <h1>Welcome to Poli-Metrics</h1>

  <h2>
    Let your politicians hear your voice by sharing your thoughts on the
    <a href="https://le.utah.gov/DynaBill/BillList?session=2017GS"> Utah Legislation</a>
    that affects your life.


  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>




<%= link_to image_tag("megaphone.png", alt: "megaphone image"),
            'http://rubyonrails.org/' %>
